{{ partial "header-default" . }}

<div class="section section-pad">
    <div class="container">
        <div class="content row">
            <div class="col-md-12 col-sm-12">
                <h1>Lem Weld On&reg;</h1>

                <p>Weld On&reg; adalah manufaktur pertama dan satu-satunya di industri adhesive yang mengeluarkan
                    produk low
                    VOC. Brand Weld-On telah diakui secara global sebagai merek premium untuk penyambung pipa plastik,
                    valve,
                    dan fitting.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="section section-pad">
    <div class="container">
        <div class="content row">
            <div class="col-md-12 col-sm-12">
                <h2>P-70™ Primer</h2>
                <p>
                    Premium, industrial strength, low VOC primer essential for proper softening and preparation of PVC
                    and
                    CPVC
                    pipe and fitting surfaces. Specially recommended for use on Schedule 80 (PN 10 and higher) and
                    large
                    size
                    pipe. Excellent for cold weather applications. Handle with care, will stain most materials and
                    surfaces.
                </p>
            </div>
            <div class="col-md-12 col-sm-12">
                <h2>Weld-On® 717™ PVC</h2>
                <p>
                    Heavy bodied, medium setting, low VOC PVC cement for all classes and schedules with interference
                    fit
                    through 12″ (315 mm) diameter. Quality formulation for plumbing, industrial, pool, irrigation and
                    electrical piping systems. It has good gap filling properties and its medium set allows more
                    working
                    time
                    in warm weather.
                </p>
            </div>
            <div class="col-md-12 col-sm-12">
                <h2>Weld-On® 724™ CPVC</h2>
                <p>
                    Heavy bodied, medium setting, low VOC CPVC cement for all classes and schedules with interference
                    fit
                    through 12″ (315 mm) diameter. Premium, high-strength, chemical-resistant solvent cement for use
                    with
                    CPVC piping systems carrying acids, bases, salts, and hypochlorites. Ideal for use in waste water
                    plants. May be used on PVC industrial piping systems for chemical applications. Approved for
                    Corzan®
                    CPVC piping systems.
                </p>
            </div>
        </div>
    </div>
</div>

{{ partial "footer" . }}