{{ partial "header-default" . }}

<div class="section section-pad">
    <div class="container">
        <div class="content row">
            <div class="col-md-12 col-sm-12">
                <div class="text-center">
                    <img src="{{ .Site.BaseURL }}image/logo/weld-on-logo.png" alt="Logo Weld On &trade;">
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-2 col-sm-12">
                <div class="text-center">
                    <img src="{{ .Site.BaseURL }}image/logo/weld-on-low-voc.jpg" alt="Lem Weld On Low VOC" />
                </div>
            </div>
            <div class="col-md-10 col-sm-12">
                <p>Weld On&reg; adalah manufaktur pertama dan satu-satunya di industri adhesive yang mengeluarkan
                    produk low
                    VOC. Brand Weld-On telah diakui secara global sebagai merek premium untuk penyambung pipa
                    plastik,
                    valve,
                    dan fitting.
                </p>
            </div>
        </div>

        <hr>

        <div class="content row">
            <div class="col-md-6 col-sm-12">
                <img src="{{ .Site.BaseURL }}image/produk/lem-weld-on/p70primer-purple.jpg" alt="Weld On P70 Primer">
            </div>
            <div class="col-md-6 col-sm-12">
                <h2>P-70™ Primer</h2>
                <p>
                    Premium, industrial strength, low VOC primer essential for proper softening and preparation of PVC
                    and
                    CPVC
                    pipe and fitting surfaces. Specially recommended for use on Schedule 80 (PN 10 and higher) and
                    large
                    size
                    pipe. Excellent for cold weather applications. Handle with care, will stain most materials and
                    surfaces.
                </p>
                <table class="table table-bordered table-hover">
                    <tbody>
                        <tr>
                            <td>Product</td>
                            <td>P-70™ Primer</td>
                        </tr>
                        <tr>
                            <td>Available Colors</td>
                            <td>
                                <ul class="availablecolors">
                                    <li>Purple</li>
                                    <li>Clear</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Applicable Performance Specification</td>
                            <td>
                                <p>ASTM F 656<br>
                                    NSF/ANSI 14<br>
                                    NSF/ANSI 61</p>
                            </td>
                        </tr>
                        <tr>
                            <td>Industry Listings</td>
                            <td>
                                <ul>
                                    <li><img src="{{ .Site.BaseURL }}image/certified/industry_sm_UPC_purple.gif"></li>
                                    <li><img src="{{ .Site.BaseURL }}image/certified/industry_sm_NSF.gif"></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Classes, Schedules &amp; Types</td>
                            <td>All PVC &amp; CPVC</td>
                        </tr>
                        <tr>
                            <td>Shelf Life</td>
                            <td>3 Years</td>
                        </tr>
                        <tr>
                            <td>Available Sizes</td>
                            <td>
                                <p><strong>Purple:</strong><br>
                                    Gallon (#10221)<br>
                                    Quart (#10223)<br>
                                    Pint (#10225)<br>
                                    1/2 Pint (#10227)<br>
                                    1/4 Pint (#10229)</p>
                                <p><strong>Clear:</strong><br>
                                    Gallon (#10220)<br>
                                    Quart (#10222)<br>
                                    Pint (#10224)<br>
                                    1/2 Pint (#10226)<br>
                                    1/4 Pint (#10228)</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <hr>

        <div class="content row">
            <div class="col-md-6 col-sm-12">
                <img src="{{ .Site.BaseURL }}image/produk/lem-weld-on/717pvc-clear.jpg" alt="Lem Weld On PVC 717 Clear">
            </div>
            <div class="col-md-6 col-sm-12">
                <h2>Weld-On® 717™ PVC</h2>
                <p>
                    Heavy bodied, medium setting, low VOC PVC cement for all classes and schedules with interference
                    fit
                    through 12″ (315 mm) diameter. Quality formulation for plumbing, industrial, pool, irrigation and
                    electrical piping systems. It has good gap filling properties and its medium set allows more
                    working
                    time
                    in warm weather.
                </p>
                <table class="table table-bordered table-hover">
                    <tbody>
                        <tr>
                            <td>Product</td>
                            <td>Weld-On® 717™ PVC</td>
                        </tr>
                        <tr>
                            <td>Available Colors</td>
                            <td>
                                <ul>
                                    <li>Clear</li>
                                    <li>Gray</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Max Recommended Pipe Size<br>
                                (Interference Fit)</td>
                            <td>
                                <p>12″ (315 mm)</p>
                            </td>
                        </tr>
                        <tr>
                            <td>Relative Set Time</td>
                            <td>Medium</td>
                        </tr>
                        <tr>
                            <td>Applicable Performance Specification</td>
                            <td>
                                <p>ASTM D 2564<br>
                                    NSF/ANSI 14<br>
                                    NSF/ANSI 61<br>
                                    CSA B137.3<br>
                                    CSA B181.2</p>
                            </td>
                        </tr>
                        <tr>
                            <td>Industry Listings</td>
                            <td>
                                <ul>
                                    <li><img src="{{ .Site.BaseURL }}image/certified/industry_sm_upc.png"></li>
                                    <li><img src="{{ .Site.BaseURL }}image/certified/industry_sm_NSF.gif"></li>
                                    <li><img src="{{ .Site.BaseURL }}image/certified/industry_sm_NSF_rev_grayonly.gif"></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Classes, Schedules &amp; Types</td>
                            <td>All Rigid PVC</td>
                        </tr>
                        <tr>
                            <td>Shelf Life</td>
                            <td>Clear: 4 Years | Gray: 3 Years</td>
                        </tr>
                        <tr>
                            <td>Available Sizes</td>
                            <td>
                                <p><strong>Clear:</strong><br>
                                    Gallon (#10141)<br>
                                    Quart (#10144)<br>
                                    Pint (#10147)<br>
                                    1/2 Pint (#10150)<br>
                                    1/4 Pint (#10861)</p>
                                <p><strong>Gray:</strong><br>
                                    Gallon (#10142)<br>
                                    Quart (#10145)<br>
                                    Pint (#10148)<br>
                                    1/2 Pint (#10151)</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <hr>

        <div class="content row">
            <div class="col-md-6 col-sm-12">
                <img src="{{ .Site.BaseURL }}image/produk/lem-weld-on/724-cpvc.jpg" alt="Lem Weld On 724 CPVC">
            </div>
            <div class="col-md-6 col-sm-12">
                <h2>Weld-On® 724™ CPVC</h2>
                <p>
                    Heavy bodied, medium setting, low VOC CPVC cement for all classes and schedules with interference
                    fit
                    through 12″ (315 mm) diameter. Premium, high-strength, chemical-resistant solvent cement for use
                    with
                    CPVC piping systems carrying acids, bases, salts, and hypochlorites. Ideal for use in waste water
                    plants. May be used on PVC industrial piping systems for chemical applications. Approved for
                    Corzan®
                    CPVC piping systems.
                </p>
                <table class="table table-bordered table-hover">
                    <tbody>
                        <tr>
                            <td>Product</td>
                            <td>Weld-On® 724™ CPVC</td>
                        </tr>
                        <tr>
                            <td>Available Colors</td>
                            <td>
                                <ul>
                                    <li>Orange</li>
                                    <li>Gray</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Max Recommended Pipe Size<br>
                                (Interference Fit)</td>
                            <td>
                                <p>12″ (315 mm)</p>
                            </td>
                        </tr>
                        <tr>
                            <td>Relative Set Time</td>
                            <td>Medium</td>
                        </tr>
                        <tr>
                            <td>Applicable Performance Specification</td>
                            <td>
                                <p>ASTM F 493<br>
                                    NSF/ANSI 14<br>
                                    NSF/ANSI 61</p>
                            </td>
                        </tr>
                        <tr>
                            <td>Industry Listings</td>
                            <td>
                                <ul>
                                    <li><img src="{{ .Site.BaseURL }}image/certified/industry_sm_upc.png"></li>
                                    <li><img src="{{ .Site.BaseURL }}image/certified/industry_sm_NSF.gif"></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Classes, Schedules &amp; Types</td>
                            <td>All Rigid CPVC All Rigid PVC</td>
                        </tr>
                        <tr>
                            <td>Shelf Life</td>
                            <td>2 Years</td>
                        </tr>
                        <tr>
                            <td>Available Sizes</td>
                            <td>
                                <p><strong>Orange:</strong><br>
                                    Gallon (#12817)<br>
                                    Quart (#12818)<br>
                                    Pint (#13531)</p>
                                <p><strong>Gray:</strong><br>
                                    Gallon (#12233)<br>
                                    Quart (#11659)<br>
                                    Pint (#11890)</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{ partial "footer" . }}