{{ partial "header-default" . }}

<div class="section section-pad">
    <div class="container">
        <div class="content row">
            <div class="col-md-12 col-sm-12">
                <div class="text-center">
                    <h1>Pipa PPR Toro</h1>
                    <img src="{{ .Site.BaseURL}}image/logo/logo-toro25.png" alt="logo pipa PPR Toro">
                    <p><strong>Made in Italy</strong></p> 
                    <h3>Untuk Sistem Distribusi Air Bersih Panas/Dingin, Air Minum (Food Grade), Cairan Kimia</h3>
                    <p>Pipa dan fitting PPR Toro 25 memiliki berbagai fungsi mulai dari sistem
                        perpipaan air bersih
                        panas/dingin
                        bertekanan, air buangan, cairan kimia, dll. Cocok untuk digunakan di bangunan sipil (apartemen,
                        kondominium, rumah sakit, sekolah, dll), bangunan komersil (hotel, restoran, kolam renang,
                        mall,
                        perkantoran, dll) hingga untuk bangunan industrial (pabrik & HVAC) baik untuk proyek konstruksi
                        baru
                        maupun
                        untuk renovasi.</p>

                </div>
            </div>
        </div>
    
        <div class="content row">
            <div class="col-md-12 col-sm-12">
                <div class="text-center">
                    <img src="{{ .Site.BaseURL}}image/produk/toro/PIPE-PN-420x300.png " alt="pipa PPR Toro">
                    <h3>Berkualitas Tinggi, Lulus Uji Standard Jerman</h3>
                    <hr>
                    <p>Bahan baku yang dipakai untuk memproduksi pipa PPR Toro 25 telah melewati
                        pengujian ketat oleh
                        Federal Health Office Jerman dan diverifikasi oleh institusi kesehatan publik dengan tes KTW.
                        Institut Federal SKZ Jerman menguji ketahanan serta tes tekanan yang sesuai dengan regulasi
                        DVGW.</p>
                    <img src="{{ .Site.BaseURL}}image/produk/toro/fitting-ppr-toro-list-1.jpg" alt="Fitting pipa PPR Toro, pn 25">
                    <img src="{{ .Site.BaseURL}}image/produk/toro/fitting-ppr-toro-list-2.jpg" alt="fitting pipa PPR Toro, lengkap">
                </div>
            </div>
        </div>

        <br>
    
        <div class="content row">
            <div class="col-md-12 col-sm-12">
                <h3 class="text-center">Kelebihan Pipa dan fitting PPR TORO</h3>
                <hr>
                <div class="col-lg-4 col-sm-12">
                    <p style="text-align:justify;">
                        <strong>Ketahanan Yang Baik Terhadap Bahan Kimia</strong><br>
                        pipa dan fitting PPR Toro sepenuhnya tahan terhadap korosi yang
                        disebabkan oleh bahan kimia dengan PH < 7 karena Polyproplyene Random memiliki karakteristik
                            yang sangat tahan terhadap asam maupun basa dengan range temperatur kerja yang cukup luas.
                            </p> <p style="text-align:justify;">
                            <strong>Tahan Erosi, Tidak Mudah Mampet</strong><br>
                            Bagian dalam pipa dan fitting PPR Toro sangat halus sehingga memungkinkan
                            cairan untuk mengalir dengan mudah dan juga menghilangkan resiko erosi
                            maupun penumpukan material yang dapat mengakibatkan pipa mampet.
                            Selain itu juga karakteristik ini juga membantu
                            mengurangi hilangnya tekanan pada sistem perpipaan.
                    </p>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <p style="text-align:justify;">
                        <strong>Menjaga Temperatur Cairan Tetap Panas/Dingin</strong><br>
                        Semua material dari plastik merupakan
                        insulator thermal yang baik, karena itu pula pipa dan fitting PPR Toro sangat baik dalam
                        mencegah kondensasi dan hilangnya panas pada aliran fluida di dalam sistem perpipaan.</p>
                    <p style="text-align:justify;">
                        <strong>Tidak Menghantarkan Listrik</strong><br>
                        Tidak seperti pipa logam, pipa PPR tidak dapat menghantarkan listrik sehingga aman
                        terhadap resiko setrum dan listrik statis.</p>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <p style="text-align:justify;">
                        <strong>Pemasangan Mudah Dan Kuat</strong> <br>
                        Pipa dan fitting PPR Toro sangat mudah dipasang dan disambungkan
                        satu sama lainnya.
                        Karena sifat materialnya yang ringan dan mudah ditangangi dengan cara heat fusion (proses
                        pengelasan/pemanasan). Hal ini dapat menghemat waktu instalasi hingga 40-50%. Selain mudah
                        dipasang, kekuatan sambungan pipa PPR juga sangat baik karena hasil akhir dari proses
                        pengelasan merupakan sambungan yang homogen, benar-benar menyatu, tidak seperti pada proses
                        penyambungan dengan lem yang hanya merekatkan bukan menyatukan. </p>
                </div>
            </div>
        </div>
    </div>
</div>
{{ partial "footer" . }}