{{ partial "header-default" . }}

<div class="section section-contents section-products section-pad">
    <div class="container">
        <div class="content row">
            <div class="content row">
                <div class="col-md-12 col-sm-12">
                    <h2 class="text-center">FIP PP-H Valves</h2>
                    <p class="text-center">
                        <img src="{{ .Site.BaseURL }}/image/produk/fip-pvdf/fip-pvdf-valve.jpg" alt="FIP PVDF Valve">
                    </p>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <p>
                    The range in PVDF includes a complete series of ball valves, butterfly valves, diaphragm valves,
                    check
                    valves, pipes and fittings for heat socket fusion, to be used in the construction of process lines
                    and
                    service lines to convey industrial fluids in the operating temperature range from -40&deg;C to
                    140&deg;C. The entire range is produced in SOLEF&trade; resins by SOLVAY S.A. classified according
                    to
                    ASTM D 3222 and compliant with requirements stated in ISO/WD 10931 for the use of PVDF pipeline
                    systems
                    in industrial processes.
                </p>


                <h4>Main properties and characteristics:</h4>


                <p>
                    <strong>Excellent chemical resistance:</strong> The characteristics of PVDF remain unchanged in a
                    temperature range
                    of -40&deg;C to +140&deg;C. The PVDF pipeline systems is therefore ideal for all applications where
                    high operating temperatures are required, with an extremely low level of fluid contamination and
                    optimal resistance to aging under the effect of atmospheric agents and UV radiation.

                </p>


                <p>
                    <strong>Fire resistance:</strong> SOLEF&trade; resins guarantee optimal fire resistance without the
                    need for flame
                    retardants (Limit of Oxygen Index, LOI=44%). Also, smoke emissions during combustion are moderate.
                    SOLEF&trade; PVDF resins are classified UL-94, class V-O.
                </p>



                <p>
                    <strong>Purity:</strong> SOLEF&trade; PVDF resin is an extremely pure polymer, which unlike other
                    plastic materials
                    does not contain stabilizers, plastifiers, lubricants or flame retardants. It is therefore ideal to
                    convey ultra-pure water and chemicals, where contamination-free properties are required with
                    respect to
                    the conveyed fluid.
                </p>



                <p>
                    <strong>Lifetime:</strong> SOLEF&trade; PVDF resins feature a high value in the circumferential
                    breaking strength
                    (Minimum Required Strength MRS=25.0 MPa at 20&deg;C) and ensure extremely extended lifetime of
                    installations, without signs of significant mechanical or physical deterioration.
                </p>

            </div>
        </div>
        <div class="content row">
            <div class="col-md-12 col-sm-12">
                <table class="table table-bordered table-hover">
                    <tbody>

                        <tr>
                            <td>Material:</td>
                            <td>PVDF Polyvinylidene Fluoride Compound SOLEF® 1008</td>
                        </tr>
                        <tr>
                            <td>Colour:</td>
                            <td>Translucent White</td>
                        </tr>
                        <tr>
                            <td>Reference Standards:</td>
                            <td>Socket fusion according to ISO 10931 for coupling to pipes complying with ISO 10931</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>Flanging according to ISO 2084, DIN 8063, DIN 2501, ANSI B16.5 150</td>
                        </tr>
                        <tr>
                            <td>Range:</td>
                            <td>Pipe: from d16 mm to d 110mm</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>Fittings: Socket fusion from d16mm to d110 mm</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>Valves:</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>Ball Valves: from D16 mm to d110 mm; Butterfly Valves: from d50 mm to d315 mm;
                                Diaphraghm valves from d16 mm to d110 mm; Check Valves: from d20 mm to d315 mm; </td>
                        </tr>
                        <tr>
                            <td>Max. Working Pressure:</td>
                            <td>PN 16 bar</td>
                        </tr>
                        <tr>
                            <td>Working Temperature Range</td>
                            <td>From -40 °C to 140 °C</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{ partial "footer" . }}