{{ partial "header-default" . }}

<div class="section section-contents section-products section-pad">
    <div class="container">
        <div class="content row">
            <div class="col-md-12 col-sm-12">
                <h2 class="text-center">FIP PP-H Valves</h2>
                <p class="text-center">
                    <img src="{{ .Site.BaseURL }}/image/produk/fip-pph/fip-pph-ball-valve.jpg" width="500" alt="FIP Ball Valve">
                    <img src="{{ .Site.BaseURL }}/image/produk/fip-pph/fip-pph-joint.jpg" width="500" alt="FIP Joint">
                </p>
            </div>
        </div>
        <div class="content row">
            <div class="col-md-12 col-sm-12">
                <p>
                    The PPH range in homopolymer Propylene includes a complete series of ball valves, butterfly valves,
                    diaphragm valves, check valves, sediment strainers, pipes and fittings for heat socket fusion,
                    fittings
                    for butt welding to be used in the construction of process and service lines for the convey under
                    pressure of industrial fluids at maximum operating temperatures of 100&deg;C.

                </p>
                <p>
                    The entire range is made of the last generation of homopolymenr polypropylene resins MRS 100 (PPH
                    100)
                    according the classification DIN 8077-8078, DIN 16962 and approved by DIBT (Deutsche Insitut fur
                    Bautechnik) for use in industrial processes.
                </p>

                <h4>Main properties and characteristics:</h4>

                <p class="pull-right">
                    <img src="{{ .Site.BaseURL }}/image/produk/fip-pph/FIP RV PPH-1.png" width="300" alt="FIP RV PPH">
                </p>

                <p>
                    <strong>High chemical resistance:</strong> the use of PPH resins guarantees excellent chemical
                    resistance especially
                    in case of halogens and alkaline solutions and enables constant optimal mechanical properties
                    thanks to
                    the use of special additives PPH resins are totally compatible also for the convey of raw and
                    drinking
                    water, demineralised water and spa water for therapeutic and kinotherapeutic applications.
                </p>

                <p>
                    <strong>Optimal thermal stability:</strong> mainly in the intermediate temperature range from
                    10&deg;C
                    to 80&deg;C
                    PPH finds its ideal application in industry guaranteeing excellent mechanical and impact resistance
                    with high safety factors.
                </p>

                <p>
                    <strong>Lifetime:</strong> PPH resins have a high value in the cirferential breaking strength
                    (Minimum
                    Required
                    Strength MRS = 10.0 Mpa at 20&deg;C) and ensure extremely extended lifetime of installations
                    withought
                    signs of significant mechanical or physical deterioration.
                </p>
            </div>
        </div>
        <hr>
        <div class="content row">
            <div class="col-md-12 col-sm-12">
                <table class="table table-bordered table-hover">
                    <tbody>
                        <tr>
                            <td>Material:</td>
                            <td>PP-H (100) Polypropylene homopolymer</td>
                        </tr>
                        <tr>
                            <td>Colour:</td>
                            <td>RAL 7032 - beige</td>
                        </tr>
                        <tr>
                            <td>Reference Standards:</td>
                            <td>Socket fusion and butt welding according to DIN 16962 for coupling to pipes complying
                                with DIN 8077 - UN 8318 EN ISO 15494 - BS 4991</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>Parallel threads according to UNI ISO 228/1, DIN 2999 - BS 21</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>Flanging according to ISO 2084, DIN 8063, DIN 2501, ANSI B16.5 150</td>
                        </tr>
                        <tr>
                            <td>Range:</td>
                            <td>Pipe: from d20 mm to d 400mm</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>Fittings: Butt welding from d20 mm to d4000 mm; Socket fusion from d20mm to d110 mm;
                                Threaded: from R1/2" up to R2"</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>Valves:</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>Ball Valves: from D16 mm to d110 mm; Butterfly Valves: from d50 mm to d315 mm;
                                Diaphraghm valves from d16 mm to d110 mm; Check Valves: from d20 mm to d315 mm;
                                Sediment Strainer: from d20 mm to d110 mm</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Max. Working Pressure:</td>
                            <td>PN 10 bar</td>
                        </tr>
                        <tr>
                            <td>Working Temperature Range</td>
                            <td>From 0 °C to 100 °C</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{ partial "footer" . }}