{{ partial "header-default" . }}

<div class="section section-contents section-pad">
    <div class="container">
        <div class="content row">
            <div class="col-md-12 col-sm-12">
                <h2 class="text-center">FIP C-PVC Valves</h2>
                <p class="text-center">
                    <img src="{{ .Site.BaseURL }}/image/produk/fip-cpvc/fip-cpvc-ball-valve.jpg" width="500" alt="FIP Ball Valve">
                    <img src="{{ .Site.BaseURL }}/image/produk/fip-cpvc/fip-cpvc-butterfly-valve.jpg" width="500" alt="FIP Butterfly Valve">
                </p>
            </div>
        </div>
        <div class="content row">
            <div class="col-md-12 col-sm-12">
                <p>
                    The CPVC TEMPERFIP100 system includes a complete range of ball valves, butterfly valves, diaphragm
                    valves, check valves and sediment strainers, pipes and fittings for solvent welding to convey
                    industrial fluids under pressure at a maximum operating temperatures of 100&deg;C. The system
                    includes
                    also the Pimer Cleaners and the TEMPERGLUE Solvent Cements that assure long lasting high quality
                    joints. The entire range is made of CORZAN&trade; CPVC resins, classified to ASTM D1784-23447-B and
                    complying with DIN 8079, DIN 8080 abd EN ISO 15493 requirements for industrial processes plastic
                    pipeline system applications.
                </p>

                <h3>Main properties and characteristics:</h3>

                <p class="pull-right">
                    <img src="{{ .Site.BaseURL }}/image/produk/fip-cpvc/FIP VXE CPVC-1.png" width="300" alt="FIP VXE CPVC">
                </p>

                <p>
                    <strong>High chemical resistance:</strong> the use of CORZAN&trade; resins, obtained from processes
                    of
                    post-chlorination of homopolymer PVC is a guarantee of high chemical resistance, especially to
                    strong
                    inorganic acids, bases and alkaline solutions, besides the optimal mechanical properties remain
                    unchanged during the transfer of hot industrial fluids. CORZAN&trade; resins offer total
                    compatibility
                    also for the transfer of treated and untreated drinking water as well as demineralised water and
                    spa
                    water for therapeutic and kinothreapeutic applications.
                </p>

                <p>
                    <strong>Optimal thermal stability:</strong> above all in the intermediate temperature range from
                    20&deg;C to
                    85&deg;C CPVC is ideal for industrial applications, guaranteeing optimal mechanical resistace, good
                    rigidity, very low coefficients of thermal expansion and optimal safety factors in service.
                </p>

                <p>
                    <strong>Resistance to fire:</strong> CORZAN&trade; CPVC resins guarantee excellent resistance to
                    fire, thanks to
                    a
                    flame onset temperature of 482&deg;C and a high limit of oxygen index LOI = 60%. CORZAN&trade; CPVC
                    resins are classified VO, 5VB e 5VA ti Ul94.
                </p>

                <p>
                    <strong>Lifetime:</strong> CORZAN&trade; CPVC resins feature a high value in the circumferential
                    breaking
                    strength
                    (Minimum Required Strength MRS = 25.0 Mpa at 20&deg;C) and ensure extremely extended lifetime of
                    installations, without signs of significant mechanical or physical deterioration.
                </p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <table class="table table-bordered table-hover">
                    <tbody>
                        <tr>
                            <td>Material:</td>
                            <td>C-PVC Chlorinated Polyvinylchloride, made of CORZAN® resin only</td>
                        </tr>
                        <tr>
                            <td>Colour:</td>
                            <td>RAL 215 - light grey</td>
                        </tr>
                        <tr>
                            <td>Reference Standards:</td>
                            <td>Solvent welding: metric size according to ISO 727, inches series according to ASTM F439</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>Parallel threads according to DIN 2999, BS 21, ISO UNI 228/1 tapered threads to ASA
                                B2.1 and JIS</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>Flanging ISO 2084, DIN 8063, DIN 2501, ANSI B16.5 150</td>
                        </tr>
                        <tr>
                            <td>Range:</td>
                            <td>Pipe: from d16 mm to d 160mm</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>Fittings: Socket from d16 mm to d110 mm, Threaded BSP: from R1/2" to R2"</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>Valves:</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>Ball Valves: from D16 mm to d110 mm; Butterfly Valves: from d50 mm to d315 mm;
                                Diaphraghm valves from d20 mm to d110 mm; Check Valves: from d20 mm to d63 mm; Sediment
                                Strainer: from d20 mm to d110 mm</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{ partial "footer" . }}