{{ partial "header-default" . }}

<div class="section section-contents section-products section-pad">
    <div class="container">
        <div class="content row">
            <div class="col-md-12 col-sm-12">
                <p>
                    The uPVC range includes ball valves, butterfly valves, diaphragm valves as well as check valves,
                    sediment strainers, air release, foot valves, angle seat valves to be used in the construction of
                    process and service lines to convey industrial fluids at maximum operating temperatures of
                    60&deg;C.
                </p>
                <p>
                    The entire range is produced using uPVC resins complying with the standards UNI EN 1452 and
                    inobservance to the requirements of DIN 8063 and EN ISO 15493 for the use of plastic pipes in
                    industrial processes.
                </p>


                <h4>Main properties and characteristics:</h4>

                <p>
                    <strong>Good chemical resistance:</strong> uPVC resins guarantee excellent chemical resistance with
                    regard to most
                    acids and alkalis, aliphatic hydrocarbons and saline solutions. uPVC resins are also totally
                    compatible
                    for the handling of food grade fluids, treated and untreated drinking water as well as
                    demineralised
                    water according to current national and internatinoal standards.
                </p>
                <p>
                    <strong>Good thermal stability:</strong> Mostly in the intermediate temperature range between
                    20&deg;C and 50&deg;C,
                    uPVC finds its ideal application in industrial and water supplies, assuring optimal performance in
                    terms of mechanical resistance, good rigidity, low coefficients of thermal expansion and optimal
                    safety
                    factors in service.
                </p>
                <p>
                    <strong>Lifetime:</strong> uPVC resins feature is an high value in the material strength (Minimum
                    Required Strength
                    MRS = 25.0 Mpa at 20&deg;C) and an extremely extended lifetime.
                </p>
            </div>
        </div>
        <hr>
        <div class="content row">
            <div class="col-md-12 col-sm-12">
                <table class="table table-bordered table-hover">
                    <tbody>
                        <tr>
                            <td>Material:</td>
                            <td>U-PVC Unplasticized Polyvinyl Chloride</td>
                        </tr>
                        <tr>
                            <td>Colour:</td>
                            <td>Grey</td>
                        </tr>
                        <tr>
                            <td>Reference Standards:</td>
                            <td>Solvent welding: metric size according to ISO 727, UNI EN 1452, DIN 8063</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>Solvent welding: plain inch according to BS 4346/1, plain tapered to ASTM 2467/76 and
                                JIS standard</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>Parallel threads according to UNI ISO 228/1, DIN 2999, BS 21, tapered threads to ASA B
                                2.1 and JIS standard</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>Connection with stub flanges according to ISO 2084, DIN 8063, DIN 2501, UNI EN 1452,
                                ANSI B16.5 150</td>
                        </tr>
                        <tr>
                            <td>Range:</td>
                            <td>Ball Valves: from D16 mm to d110 mm; Butterfly Valves: from d50 mm to d315 mm;
                                Diaphraghm valves from d16 mm to d110 mm; Check Valves: from d16 mm to d315 mm;
                                Sediment strainer: from d16 mm to d110 mm</td>
                        </tr>
                        <tr>
                            <td>Max. Working Pressure:</td>
                            <td>PN 16 bar</td>
                        </tr>
                        <tr>
                            <td>Working Temperature Range</td>
                            <td>From 0 °C to 60 °C</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{ partial "footer" . }}