<div class="footer-widget section-pad">
    <div class="container">
        <div class="row">
            <div class="widget-row row">
                <div class="footer-col col-md-12 col-sm-12">
                    <!-- Each Widget -->
                    <div class="wgs wgs-footer">
                        <h5 class="wgs-title">Hubungi Kami</h5>
                        <div class="wgs-content">
                            <p>
                                <strong>PT Asialing Pipa Indonesia</strong>
                                <br /> Pergudangan Miami, <br />
                                Jl. Kayu Besar III Blok M2 No. 3
                                <br /> Tegal Alur - Kalideres. Jakarta Barat 11820.</p>
                            <p>
                                <span>Telp</span>: +62 (21) 225579 28/29
                                <br>
                                <span>Fax</span>: +62 (21) 2255 7924</p>
                        </div>
                    </div>
                    <!-- End Widget -->
                </div>

            </div>

        </div>
    </div>
</div>

<!-- Copyright -->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="site-copy col-sm-7">
                <p>&copy; 2018 PT Asialing Pipa Indonesia. All rights reserved</p>
            </div>
            <div class="site-by col-sm-5 al-right">

            </div>

        </div>
    </div>
</div>
<!-- End Copyright -->

<!-- Preloader !active please if you want -->
<!-- <div id="preloader"><div id="status">&nbsp;</div></div> -->
<!-- Preloader End -->

<!-- JavaScript Bundle -->
<script src="{{ .Site.BaseURL }}js/jquery.bundle.js"></script>
<!-- Theme Script init() -->
<script src="{{ .Site.BaseURL }}js/script.js"></script>
<!-- End script -->
</body>

</html>