<!DOCTYPE html>
<html lang="id">

<head>
	<title>{{.Title}}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="{{ .Description }}" />
	<link rel="icon" href="{{ .Site.BaseURL }}/image/favicon.png" type="image/png" sizes="16x16">
	<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/vendor.bundle.css">
	<link id="style-css" rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/style62ea.css?ver=1.2">
</head>

<body class="site-body style-v1">
	<!-- Header -->
	<header class="site-header header-s1 is-sticky">
		{{ partial "top-navigation" . }}
		<!-- Navbar -->
		<div class="navbar navbar-primary">
			<div class="container">
				<!-- Logo -->
				<a class="navbar-brand" href="{{ .Site.BaseURL }}">
					<img class="logo logo-dark" alt="" src="{{ .Site.BaseURL }}image/logo-asialing-pipa-indonesia.png" srcset="image/logo2x.png 2x">
					<img class="logo logo-light" alt="" src="{{ .Site.BaseURL }}image/logo-light.png" srcset="image/logo-light2x.png 2x">
				</a>
				<!-- #end Logo -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainnav" aria-expanded="false">
						<span class="sr-only">Menu</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Q-Button for Mobile -->
					<!-- 					
					<div class="quote-btn">
						<a class="btn" href="{{ .Site.BaseURL }}/get-a-quote.html">Enquire Today</a>
					</div>
					 -->
				</div>
				{{ partial "main-navigation" . }}
			</div>
		</div>
		<!-- #end Navbar -->		
	</header>
	<!-- End Header -->
	<div style="clear: both; height: 5px; background: #333333;"></div>