<!DOCTYPE html>
<html lang="id">

<head>
	<title>{{.Title}}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />	
	<meta name="description" content="{{ .Description }}" />
	<link rel="icon" href="{{ .Site.BaseURL }}image/favicon.png" type="image/png" sizes="16x16">
	<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/vendor.bundle.css">
	<link id="style-css" rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/style62ea.css?ver=1.2">
</head>

<body class="site-body style-v1">
	<!-- Header -->
	<header class="site-header header-s1 is-sticky">
		{{ partial "top-navigation" . }}
		<!-- Navbar -->
		<div class="navbar navbar-primary">
			<div class="container">
				<!-- Logo -->
				<a class="navbar-brand" href="{{ .Site.BaseURL }}">
					<img class="logo logo-dark" alt="" src="{{ .Site.BaseURL }}image/logo-asialing-pipa-indonesia.png" srcset="image/logo2x.png 2x">
					<img class="logo logo-light" alt="" src="{{ .Site.BaseURL }}image/logo-light.png" srcset="image/logo-light2x.png 2x">
				</a>
				<!-- #end Logo -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainnav" aria-expanded="false">
						<span class="sr-only">Menu</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Q-Button for Mobile -->
					<!-- 					
					<div class="quote-btn">
						<a class="btn" href="{{ .Site.BaseURL }}/get-a-quote.html">Enquire Today</a>
					</div>
					 -->
				</div>
				{{ partial "main-navigation" . }}
			</div>
		</div>
		<!-- #end Navbar -->
		<!-- Banner/Slider -->
		<div class="banner banner-static banner-intro">
			<div class="container">
				<div class="content row">

					<div class="banner-text wide-md al-center pos-center">
						<h2 class="ucap">PT Asialing Pipa Indonesia</h2>
						<p>Sole Agent Pipa PVC IPEX & FIP Valves</p>
						<div class="banner-cta">
							<a class="btn btn-light btn-outline" href="{{ .Site.BaseURL }}solutions.html">View Solutions</a>
							<a class="btn btn-alt" href="{{ .Site.BaseURL }}contact.html">Contact us</a>
						</div>
					</div>
					<div class="imagebg">
						<img src="{{ .Site.BaseURL }}image/slider-lg-civil-a.jpg" alt="">
					</div>

				</div>
			</div>
		</div>

		<!-- #end Banner/Slider -->
	</header>
	<!-- End Header -->