<!-- MainNav -->
<nav class="navbar-collapse collapse" id="mainnav">
    <ul class="nav navbar-nav">
        <li>
            <a href="{{ .Site.BaseURL }}pipa/ipex">Pipa &amp; Fitting IPEX</a>
        </li>
        <li>
            <a href="{{ .Site.BaseURL }}lem-weld-on">Lem Weld On</a>
        </li>
        <li class="dropdown"><a href="#">Valve FIP</a>
            <ul class="dropdown-menu">
                <li><a href="{{ .Site.BaseURL }}valve/fip-upvc">Valve U-PVC FIP</a></li>
                <li><a href="{{ .Site.BaseURL }}valve/fip-cpvc">Valve C-PVC FIP</a></li>
                <li><a href="{{ .Site.BaseURL }}valve/fip-pph">Valve PP-H FIP</a></li>
                <li><a href="{{ .Site.BaseURL }}valve/fip-pvdf">Valve PVDF FIP</a></li>
            </ul>
        </li>
        <li>
            <a href="{{ .Site.BaseURL }}pipa/toro-ppr">Pipa PPR Toro</a>
        </li>
        <li class="dropdown"><a href="#">Download</a>
            <ul class="dropdown-menu">
                <li><a href="{{ .Site.BaseURL }}download/ipex">Brosur/Sertifikat IPEX</a></li>
                <li><a href="{{ .Site.BaseURL }}download/fip">Brosur/Sertifikat FIP</a></li>
                <!-- <li><a href="{{ .Site.BaseURL }}download/toro">Brosur/Sertifikat TORO</a></li> -->
            </ul>
        </li>
    </ul>
</nav>
<!-- #end MainNav -->