<!-- MainNav -->
<nav class="navbar-collapse collapse" id="mainnav">
    <ul class="nav navbar-nav">
        <li class="dropdown"><a href="{{ .Site.BaseURL }}#">Pipa &amp; Fitting IPEX</a>
            <ul class="dropdown-menu">
                <li><a href="{{ .Site.BaseURL }}pipa-pvc-ipex">Pipa PVC IPEX</a></li>
                <li><a href="{{ .Site.BaseURL }}pipa-cpvc-ipex">Pipa CPVC IPEX</a></li>
                <li><a href="{{ .Site.BaseURL }}lem-pvc-weld-on">Lem PVC Weld On</a></li>
            </ul>
        </li>
        <li class="dropdown"><a href="{{ .Site.BaseURL }}#">Valve FIP</a>
            <ul class="dropdown-menu">
                <li><a href="{{ .Site.BaseURL }}valve-upvc-fip">Valve U-PVC FIP</a></li>
                <li><a href="{{ .Site.BaseURL }}valve-cpvc-fip">Valve C-PVC FIP</a></li>
                <li><a href="{{ .Site.BaseURL }}valve-pph-fip">Valve PP-H FIP</a></li>
                <li><a href="{{ .Site.BaseURL }}valve-pvdf-fip">Valve PVDF FIP</a></li>
            </ul>
        </li>
        <li>
            <a href="{{ .Site.BaseURL }}pipa-ppr-toro">Pipa PPR Toro</a>
        </li>
        <li class="dropdown"><a href="{{ .Site.BaseURL }}#">Download</a>
            <ul class="dropdown-menu">
                <li><a href="{{ .Site.BaseURL }}">Sertifikat IPEX</a></li>
                <li><a href="{{ .Site.BaseURL }}">Sertifikat FIP</a></li>
                <li><a href="{{ .Site.BaseURL }}">Sertifikat TORO</a></li>
            </ul>
        </li>
    </ul>
</nav>
<!-- #end MainNav -->