<!-- Topbar -->
<div class="topbar">
    <div class="container">
        <div class="row">
            <div class="top-aside top-left clearfix">
                <ul class="top-contact clearfix">
                    <li>
                        <span>Distributor Pipa PVC Schedule 80/40, Valve PVC, Pipa PPR Toro</span>
                    </li>
                </ul>
            </div>
            <div class="top-aside top-right clearfix">
                <ul class="top-contact clearfix">
                    <li class="t-email t-email1">
                        <em class="fa fa-envelope-o" aria-hidden="true"></em>
                        <span>
                            <a href="mailto:sales@pipaindustri.com">sales@pipaindustri.com</a>
                        </span>
                    </li>
                    <li class="t-phone t-phone1">
                        <em class="fa fa-phone" aria-hidden="true"></em>
                        <span>(+62 21) 225579 28/29</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- #end Topbar -->